@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconde a scrollbar no Chrome, Safari e Opera */
::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar no IE, Edge e Firefox */
* {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Se preferir uma scrollbar sutil em vez de completamente invisível, use isso: */
/*
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
